version: '3.8'

services:
  # NODO 1 - Inicializador del Cluster
  mysql-node1:
    image: percona/percona-xtradb-cluster:8.0
    container_name: mysql-node1
    environment:
      - MYSQL_ROOT_PASSWORD=mysql123
      - CLUSTER_NAME=pxc-cluster
      - XTRABACKUP_PASSWORD=backup123
    volumes:
      - mysql1-data:/var/lib/mysql
      - ./config/node1.cnf:/etc/my.cnf.d/galera.cnf
      - ./scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
    command: >
      --wsrep_cluster_address=gcomm://mysql-node1,mysql-node2,mysql-node3
      --wsrep_node_name=node1
    ports:
      - "3306:3306"
    networks:
      - mysql-network

  # NODO 2
  mysql-node2:
    image: percona/percona-xtradb-cluster:8.0
    container_name: mysql-node2
    environment:
      - MYSQL_ROOT_PASSWORD=mysql123
      - CLUSTER_NAME=pxc-cluster
      - XTRABACKUP_PASSWORD=backup123
    volumes:
      - mysql2-data:/var/lib/mysql
      - ./config/node2.cnf:/etc/my.cnf.d/galera.cnf
    depends_on:
      - mysql-node1
    command: >
      --wsrep_cluster_address=gcomm://mysql-node1,mysql-node2,mysql-node3
      --wsrep_node_name=node2
    ports:
      - "3307:3306"
    networks:
      - mysql-network

  # NODO 3
  mysql-node3:
    image: percona/percona-xtradb-cluster:8.0
    container_name: mysql-node3
    environment:
      - MYSQL_ROOT_PASSWORD=mysql123
      - CLUSTER_NAME=pxc-cluster
      - XTRABACKUP_PASSWORD=backup123
    volumes:
      - mysql3-data:/var/lib/mysql
      - ./config/node3.cnf:/etc/my.cnf.d/galera.cnf
    depends_on:
      - mysql-node1
      - mysql-node2
    command: >
      --wsrep_cluster_address=gcomm://mysql-node1,mysql-node2,mysql-node3
      --wsrep_node_name=node3
    ports:
      - "3308:3306"
    networks:
      - mysql-network

  # HAProxy - Balanceador de Carga
  haproxy:
    image: haproxy:2.6-alpine
    container_name: haproxy-balancer
    volumes:
      - ./config/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    ports:
      - "3309:3306"
      - "8404:8404"
    depends_on:
      - mysql-node1
      - mysql-node2
      - mysql-node3
    networks:
      - mysql-network

networks:
  mysql-network:
    driver: bridge

volumes:
  mysql1-data:
  mysql2-data:
  mysql3-data: