services:
  # Nodo MySQL 1
  pxc1:
    image: percona/percona-xtradb-cluster:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - CLUSTER_NAME=galera-cluster
      - MYSQL_CLUSTER_JOIN=pxc2,pxc3
    networks:
      - mysql_network
    ports:
      - "3306:3306"
    volumes:
      - pxc1-data:/var/lib/mysql

  # Nodo MySQL 2
  pxc2:
    image: percona/percona-xtradb-cluster:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - CLUSTER_NAME=galera-cluster
      - MYSQL_CLUSTER_JOIN=pxc1,pxc3
    networks:
      - mysql_network
    volumes:
      - pxc2-data:/var/lib/mysql

  # Nodo MySQL 3
  pxc3:
    image: percona/percona-xtradb-cluster:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - CLUSTER_NAME=galera-cluster
      - MYSQL_CLUSTER_JOIN=pxc1,pxc2
    networks:
      - mysql_network
    volumes:
      - pxc3-data:/var/lib/mysql

  # HAProxy para balanceo de carga
  haproxy:
    image: haproxy:latest
    ports:
      - "3307:3306"  # Puerto de balanceo de carga
    volumes:
      - ./config/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
    networks:
      - mysql_network

networks:
  mysql_network:
    driver: bridge

volumes:
  pxc1-data:
  pxc2-data:
  pxc3-data:
