version: '3'

services:
  mysql-node1:
    image: mariadb:10.5
    environment:
      - MYSQL_ROOT_PASSWORD=rootpw
      - GALERA_CLUSTER_NAME=galera_cluster
      - GALERA_NODE_ADDRESS=mysql-node1
      - GALERA_CLUSTER_ADDRESS=gcomm://mysql-node1,mysql-node2,mysql-node3
      - GALERA_NODE_NAME=mysql-node1
      - WSREP_SST_METHOD=rsync
    ports:
      - "3306:3306"
    volumes:
      - ./data/mysql-node1:/var/lib/mysql
    networks:
      - galera-net

  mysql-node2:
    image: mariadb:10.5
    environment:
      - MYSQL_ROOT_PASSWORD=rootpw
      - GALERA_CLUSTER_NAME=galera_cluster
      - GALERA_NODE_ADDRESS=mysql-node2
      - GALERA_CLUSTER_ADDRESS=gcomm://mysql-node1,mysql-node2,mysql-node3
      - GALERA_NODE_NAME=mysql-node2
      - WSREP_SST_METHOD=rsync
    ports:
      - "3307:3306"
    volumes:
      - ./data/mysql-node2:/var/lib/mysql
    networks:
      - galera-net

  mysql-node3:
    image: mariadb:10.5
    environment:
      - MYSQL_ROOT_PASSWORD=rootpw
      - GALERA_CLUSTER_NAME=galera_cluster
      - GALERA_NODE_ADDRESS=mysql-node3
      - GALERA_CLUSTER_ADDRESS=gcomm://mysql-node1,mysql-node2,mysql-node3
      - GALERA_NODE_NAME=mysql-node3
      - WSREP_SST_METHOD=rsync
    ports:
      - "3308:3306"
    volumes:
      - ./data/mysql-node3:/var/lib/mysql
    networks:
      - galera-net

  haproxy:
    image: haproxy:latest
    ports:
      - "3309:3306"
    volumes:
      - ./config/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
    networks:
      - galera-net

networks:
  galera-net:
    driver: bridge
